<!-- 4 -->

<!DOCTYPE html>   
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstdap@5.0.2/dist/css/bootstdap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <h1>Add a User</h1>
    <!-- only inputs seen by users excluding ID and date stamps -->
    <!-- add route that handles the POST route -->
    <form action="/users/create" method="post">
        <p>
            Name: 
            <input type="text" name="first_name" id="">
        </p>
        <p>
            Last Name:
            <input type="text" name="last_name" id="">
        </p>
        <p>
            Email:
            <input type="email" name="email" id="">
        </p>
        <button class="btn btn-success">Add a User</button>
    </form>
    <a href="/">Home</a>
</body>
</html>